<div class="comment_container">
	<div class="comment_content">
		<p class="comment_name"><strong><%= comment.name %></strong></p>
        <p class="comment_time">Added <%= time_ago_in_words(comment.created_at) %> Ago</p>
		<p class="comment_body"><%= comment.body %></p>
		
	

        <p class="delet_btn">
            <%= link_to 'Delete', [comment.post, comment],
                        method: :delete,
                        class: "button",
                        data: { confirm: 'Are you sure?'} %>
        </p>
    </div>
</div>