<% @posts.each do |post| %>
    <div class="post_item">
        <h2 class="title">
            <%= link_to post.title, post %>
        </h2>
        <p class="date">
            <%= post.created_at.strftime("%B, %d, %Y") %>
        </p>
    </div>
<% end %>