@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Press+Start+2P&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
}

//colors
$m_b: #567D8C;
$l_b: #F2F2F0;
$d_b: #164059;
$n: #071826;
//fonts
$l_f: 'Press Start 2P',
cursive;
$m_f: 'PT Serif',
serif;
//global
body {
    background: $l_b;
    font-family: $m_f;
    color: $n;
}

a {
    text-decoration: none;
    color: $n;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

//blog logo
.page_logo {
    background: $m_b;
    text-align: center;
    height: 150px;
    h1 {
        color: $l_b;
        font-family: $l_f;
        line-height: 150px;
        font-size: 56px;
    }
}

//menu
#main_menu {
    background: $d_b;
    height: 35px;
    ul {
        list-style: none;
        display: grid;
        grid-template-columns: 100px 1fr;
    }
    a {
        text-decoration: none;
        line-height: 35px;
        padding: 7px 16px;
        color: $l_b;
        font-family: $m_f;
    }
    a:hover {
        background: $m_b;
    }
}

//main content
#main_content {
    .header {
        height: 100px;
        line-height: 100px;
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        justify-items: start;
        a {
            text-decoration: none;
            font-family: $m_f;
            color: $n;
            font-size: 16px;
        }
        .button {
            grid-column: 3 / 4;
            background: transparent;
            border: none;
            align-self: center;
            justify-self: end;
            a {
                padding: 12px;
                border: 1px solid $n;
            }
        }
    }
}

//About
.about_section {
    margin: 25px 0 0;
}

//posts
.post_item {
    //background: pink;
    padding: 25px 0;
    border-top: 1px solid $n;
    .date {
        font-size: 14px;
    }
}

//show
#post_content {
    display: grid;
    grid-gap: 10px;
    .date {
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 1fr 60px 60px;
        font-size: 14px;
        a {
            padding: 5px;
            text-align: center;
            border: 1px solid $n;
            font-size: 16px;
        }
    }
    .body {
        padding: 25px 0 100px;
    }
    .comments {
        display: grid;
        grid-gap: 10px;
        .comment_content {
            padding: 10px;
            background: $m_b;
            color: $l_b;
            display: grid;
            grid-gap: 5px;
            .comment_time {
                font-size: 14px;
                color: $n;
            }
            .comment_body {
                padding: 30px 0 10px;
                ;
            }
            .delet_btn {
                margin-top: 10px;
                display: inline-block;
                padding: 5px 12px;
                border: 1px solid $n;
                justify-self: end;
                background: $l_b;
            }
        }
        form {
            display: grid;
            padding: 10px;
            grid-gap: 10px;
            input{
                border: none;
                height: 30px;
                padding: 0 10px;
                font-size: 16px;
                font-family: $m_f;
            }
            textarea{
                border: none;
                min-height: 90px;
                padding: 10px;
                font-family: $m_f;
                font-size: 16px;
            }
            input[type="submit"]{
                border: 1px solid $n;
                margin: 5px 0 25px 0;
            }

        }
    }
}

//New Post
#new_post_container, #page_wrapper{
    h1{
        font-size: 22px;
    }
    form{
        display: grid;
    }
    #create, #create>*{
        display: grid;
        grid-gap: 10px;
        input{
            border: none;
            height: 30px;
            padding: 0 10px;
            font-size: 16px;
            font-family: $m_f;
        }
        textarea{
            border: none;
            min-height: 90px;
            padding: 10px;
            font-family: $m_f;
            font-size: 16px;
        }
        input[type="submit"]{
            border: 1px solid $n;
            margin: 5px 0 25px 0;
        }
        
    }
    #errors{
        background: $m_b;
        padding: 10px;
        color: $l_b;
        margin: 10px 0 20px;
        li{
            list-style: none;
        }
    }

}