<!DOCTYPE html>
<html>

<head>
	<title>BlogApp</title>
	<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="page_logo">
		<div class="wrapper">
			<h1>RoR blog</h1>
		</div>
	</div>

	<div id="main_menu">
		<div class="wrapper">
			<ul>
				<li>
					<%= link_to "Blog", root_path %>
				</li>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</div>
	</div>
	
	<div id="main_content"> 
		<div class="wrapper">
			<div class="header">

				<% if current_page?(root_path) %>
					<p>All Posts</p>
				<% elsif current_page?(about_path) %>
					<p>About</p>
				<% else %>
					<%= link_to "Back to All Posts", root_path %>
				<% end %>
				

				<div class="button">
					<%= link_to "New Post", new_post_path %>
				</div>

			</div>

			<% flash.each do |name, msg|%>
				<%= content_tag(:div, msg, class: "alert") %>
			<% end %>

			<%= yield %>
		</div>
	</div>
	
	
</body>

</html>